# Pliki z danymi wrażliwymi
.env
.env.*
config/devices_secrets.json
devices_secrets*

# Katalogi tymczasowe
tmp/
temp/
output/


# Python – pliki kompilowane i cache
__pycache__/
*.py[cod]

# Wirtualne środowisko
venv/
.venv/
.idea/

# Pliki IDE
*.swp
.idea/

# Pliki logów
logs/
*.log
